*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  width: 100dvw;
  height: 100dvh;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background-color: #dfe0d2;
}

img {
  image-rendering: pixelated;
}

.main {
  width: min(60dvh, 60dvw);
}

.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
